*~
*.areasrr
*.aux
*.bak
*.bld
*.dat
*.dbs
*.edf
*.fse
*.htm
*.log
*.lso
*.map
*.mpf
*.msg
*.mti
*.ncd
*.ngr
*.ncf
*.o
*.out
*.pad
*.par
*.pcf
*.plg
*.prd
*.prj
*.prs
*.rpt
*.sap
*.sdc
*.srd
*.srl
*.srm
*.srr
*.srs
*.ssr
*.swp
*.szr
*.ta
*.tcl
*.tlg
*.toc
*.txt
*.ucf
*.vif
*.wlf

*transcript

_*
vlog*
vopt*
*.gz
*synctex*